body {
  font-family: Arial, sans-serif;
  padding: 0;
  margin: 0;
  background: #f4f4f4;

}

.box {
  width: 100px;
  height: 100px;
  background: steelblue;
  animation: moveBox 3s ease-in-out infinite alternate;
}

@keyframes moveBox {
  0% {
    transform: translateX(0vw);
    border-radius: 10px;
  }

  50% {
    transform: translateX(30vw);
    border-radius: 50px;
  }

  100% {
    transform: translateX(60vw);
    border-radius: 10px;
  }
}
