.box {
  width: 150px;
  height: 80px;
  background: gray;
  color: white;
  line-height: 80px;
  text-align: center;
  margin: 10px;
}

.property {
  transition: background-color  3s;
}

.property:hover {
  background-color: red;
  
}
